# Site
repository: HtianMa/HtianMa.github.io
favicon: images/favicon.ico

# Content configuration version
version: 2

# Personal info
name: Haotian Ma(马 浩天)
title: student in School of Cyber Engineering at Xidian University
email: htmaaaaaa@gmail.com
website: www.github.com/HtianMa

# Dark Mode (true/false/never)
darkmode: false

# Social links
# twitter_username: facespics
github_username:  HTianMa
# stackoverflow_username: "00000001"
# dribbble_username: jekyll
# facebook_username: jekyll
# flickr_username: jekyll
# instagram_username: jameswgrant
# linkedin_username: jameswgrant
# xing_username: jekyll
# pinterest_username: jekyll
# youtube_username: globalmtb
# googleplus_username: +jekyll
# orcid_username: 0000-0000-0000-0000

# Additional icon links
additional_links:
- title: zhihu
  icon: fab fa-zhihu(https://fontawesome.com/v5.15/icons/zhihu?style=brands)
  url: https://www.zhihu.com/people/ai-shang-huo-li-quan
# - title: another link
#   icon: font awesome brand icon name (eg. fab fa-twitter) (https://fontawesome.com/icons?d=gallery&m=free)
#   url: Link url (eg. https://google.com)

# Google Analytics and Tag Manager
# Using more than one of these may cause issues with reporting
# gtm: "GTM-0000000"
# gtag: "UA-00000000-0"
# google_analytics: "UA-00000000-0"

# About Section
# about_title: About Me
about_profile_image: images/profile.jpg
about_content: | # this will include new lines to allow paragraphs
  Hi, my name's Haotian Ma and I'm a student in School of Cyber Engineering at Xidian University. My major is network engineering. MY research interest includes Face Forgery Detection and Adversarial Attack.

content:
  - title: Education # Title for the section
    layout: list # Type of content section (list/text)
    content:
      - layout: left
        title: Xidian University
        caption: 2018 - 2022
        sub_title: Network Engineering
        quote: >
          Xidian is located in Xi'an, ShanXi, China, which participate in the country’s Project 211 and construction plan of first-class disciplines.
        description: | # this will include new lines to allow paragraphs
          During my time at Harvard I learnt most of my key skills that have I have taken through my career such as teamwork and working to tight deadlines. I thouroughly enjoyed my time as university.
  
  - title: Award
    layout: text
    content: | # this will include new lines to allow paragraphs
      Awards I received during my university years:
      - 2020 ~ 2021, National Encouragement Scholarship, Second class scholarship, Mi Encouragement Scholarship.
      - 2019 ~ 2020, First class scholarship, School-level outstanding student.
      - 2018 ~ 2019, National Encouragement Scholarship, First class scholarship, School-level outstanding student.
      - Aug. 2021, The National College Student Information Competition (**National level**), **Third Prize**.
      - Nov. 2020, The National College Student Mathematical Modeling Competition (Shaanxi Province), **Second Prize**.
      - Oct. 2020, The National College Student Mathematics Competition (Shaanxi Province), **Second Prize**.
      - Apr. 2020, MCM/ICM, **Honorable Mention**.
      - Oct. 2019, The National College Student Mathematics Competition (Shaanxi Province), **First Prize**.


  - title: Projects # Title for the section
    layout: list # Type of content section (list/text)
    content:
      - layout: top-middle
        title: Super awesome project
        link: github.com/sproogen
        # link_text: Project Website
        additional_links:
          - title:  sproogen/modern-resume-theme
            icon: fab fa-github
            url: github.com/sproogen/modern-resume-theme
          # - title:  Github page for project (eg. sproogen/modern-resume-theme)
          #   icon: fab fa-github
          #   url: Link to project (eg. sproogen.github.io/modern-resume-theme)
        quote: >
          This is probably one of the greatest apps ever created, if you don't agree you're probably wrong.
        description: | # this will include new lines to allow paragraphs
          I started this project as a way if learning <mark>React</mark> and it has since grown into a fully fledged app. I have learned many skills through this and been I'm very proud of having this in my portfolio. If you don't have a project as awesome as this I would advise you make one.

  - title: Experience # Title for the section
    layout: list # Type of content section (list/text)
    content:
      - layout: left
        title: The Boring Company
        link: boringcompany.com
        # link_text: boringcompany.com
        sub_title: Senior Network System Administrator
        caption: November 2017 - Present
        quote: >
          Solving 21st century problems by diging holes and making game changing products like the *not a flamethrower*
        description: | # this will include new lines to allow paragraphs
            Every company needs its networks properly administered and The Boring Compay is no exception. Digging holes is hard and I play my part making sure the whole company stays connected. I lead a team of 5 people and enjoy driving the company to try new technologies.
  
  - title: My Grade
    layout: text
    content: | # this will include new lines to allow paragraphs
      Grades during university:
      - Rank: **1/58**
      - Score: 91.2/100
      - GPA: 3.9/4.0


# Footer
footer_show_references: true
# references_title: References on request (Override references text)

# Build settings
remote_theme: sproogen/resume-theme

sass:
  sass_dir: _sass
  style: compressed

plugins:
 - jekyll-seo-tag
